<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BullSheet</title>
  </head>
  <body>
    <h1>That's a total BullSheet!!!</h1>
    <div class="container is-flex is-justify-content-center">
      <div class="is-flex is-flex-direction-column">
        <h1 class="is-size-1">BullSheet!</h1>
        <div class="field">
          <label class="label">Desired budget:</label>
          <div class="control">
            <div class="select">
              <select>
                <option>10%</option>
                <option>20%</option>
                <option>30%</option>
                <option>40%</option>
                <option>50%</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
